<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Universal_x86_Tuning_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Universal_x86_Tuning_Utility.Properties.Settings>
            <setting name="StartOnBoot" type="bool"/>
            <setting name="StartMini" type="bool"/>
            <setting name="CommandString" type="string"/>
            <setting name="AutoReapplyTime" type="int" defaultValue="3"/>
            <setting name="AutoReapply" type="bool"/>
            <setting name="premadePreset" type="int" defaultValue="1"/>
            <setting name="acCommandString" type="string"/>
            <setting name="dcCommandString" type="string"/>
            <setting name="acPreset" type="string" defaultValue="None"/>
            <setting name="dcPreset" type="string" defaultValue="None"/>
            <setting name="resumePreset" type="string" defaultValue="None"/>
            <setting name="resumeCommandString" type="string"/>
            <setting name="ApplyOnStart" type="bool"/>
            <setting name="FirstBoot" type="bool" defaultValue="True"/>
            <setting name="Path" type="string"/>
            <setting name="SettingsUpgradeRequired" type="bool" defaultValue="True"/>
            <setting name="UpdateCheck" type="bool" defaultValue="True"/>
            <setting name="isAdaptiveModeRunning" type="bool"/>
            <setting name="directoryRTSS" type="string" defaultValue="C:\Program Files (x86)\RivaTuner Statistics Server"/>
            <setting name="FPSLimit" type="int"/>
            <setting name="autoSwitch" type="bool"/>
            <setting name="polling" type="double" defaultValue="2"/>
            <setting name="isASUS" type="bool"/>
            <setting name="MagpieHotkey" type="string" defaultValue="Alt+F"/>
            <setting name="ScaleMode" type="int" defaultValue="1"/>
            <setting name="CaptureMode" type="uint"/>
            <setting name="LoggingLevel" type="uint" defaultValue="1"/>
            <setting name="FrameRateLimit" type="uint" defaultValue="999"/>
            <setting name="FrameRateType" type="uint"/>
            <setting name="NoCursor" type="bool"/>
            <setting name="DisableLowLatency" type="bool"/>
            <setting name="CursorZoomFactor" type="float" defaultValue="1"/>
            <setting name="DisableWindowResizing" type="bool"/>
            <setting name="CursorInterpolationMode" type="uint"/>
            <setting name="DisableDirectFlip" type="bool"/>
            <setting name="Is3DMode" type="bool" defaultValue="True"/>
            <setting name="AdapterIdx" type="int"/>
            <setting name="CropTitleBarOfUWP" type="bool" defaultValue="True"/>
            <setting name="SimulateExclusiveFullscreen" type="bool" defaultValue="True"/>
            <setting name="ShowDebuggingOptions" type="bool"/>
            <setting name="CropLeft" type="uint"/>
            <setting name="CropTop" type="uint"/>
            <setting name="CropRight" type="uint"/>
            <setting name="CropBottom" type="uint"/>
            <setting name="CustomCropping" type="bool"/>
            <setting name="VSync" type="bool" defaultValue="True"/>
            <setting name="DebugSaveEffectSources" type="bool"/>
            <setting name="DebugWarningsAreErrors" type="bool"/>
            <setting name="ShowFPS" type="bool"/>
            <setting name="AdjustCursorSpeed" type="bool" defaultValue="True"/>
            <setting name="DebugBreakpointMode" type="bool"/>
            <setting name="DebugDisableEffectCache" type="bool"/>
            <setting name="MultiMonitorUsage" type="uint"/>
            <setting name="AutoRestore" type="bool"/>
            <setting name="ResMode" type="int" defaultValue="2"/>
            <setting name="isMagpie" type="bool"/>
            <setting name="Sharpness" type="double" defaultValue="0.8"/>
            <setting name="isStartAdpative" type="bool"/>
            <setting name="isTrack" type="bool"/>
            <setting name="MinimizeClose" type="bool"/>
        </Universal_x86_Tuning_Utility.Properties.Settings>
    </userSettings>
</configuration>